* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(310deg, #e78d98, #c96d8c, #9C528B, #610F7F, #2F0147);
}

.main {
    height: 93vh;
    width: 96vw;
    margin: 20px auto;
    background-color: rgba(122, 121, 121, 0.404);
    border-radius: 15px;
}

.main-top {
    height: 90%;
    width: 100%;
    border-radius: 15px;
    display: flex;
}


/* Left Sidebar Start*/

.left-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    border-radius: 15px;
    padding: 5px;
}

.logo {
    height: 10%;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.menu,
.collection,
.discover,
.settings {
    flex: 1;
    text-align: center;
}

.logo img {
    height: 100%;
    width: auto;
}

.main-top ul li {
    list-style-type: none;
    padding: 4px;
}

#heading {
    font-size: small;
    font-weight: bold;
    color: rgb(41, 33, 40);
}

/* Left Sidebar End*/


/* Middle Start*/

.middle {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 15px;
}

.search-bar {
    height: 7%;
    text-align: center;
}

.search-bar #song-search {
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    width: 95%;
    height: 75%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 5px;
}

.banner {
    height: 45%;
    padding: 10px 0px;

}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.popular-list {
    height: 50%;
    padding: 10px 0px;
    overflow-y: scroll;
}

.popular-list table {
    width: 100%;
    text-align: center;
}

.popular-list table tr {
    height: 40px;
}

/* Middle End*/


/* Right Sidebar Start*/

.right-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    border-radius: 15px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}
.profile{
    height: 7%;
}
.profile-options{
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 10px;
}

.top-picks, .notifications, .recent-playlist{
    flex: 1;
}

/* Right Sidebar End*/

/* Music Player Start*/

.main-bottom {
    background-color: rgba(122, 121, 121, 0.205);
    border: 1px solid black;
    border-radius: 15px;
    height: 10%;
    width: 100%;
}

/* Music Player End*/