* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(310deg, #e78d98, #c96d8c, #9C528B, #610F7F, #2F0147);
}

.main {
    height: 93vh;
    width: 96vw;
    margin: 20px auto;
    background-color: rgba(122, 121, 121, 0.404);
    border-radius: 15px;
}
.main-top {
    height: 90%;
    width: 100%;
    /* margin: 20px auto; */
    /* background-color: rgba(95, 95, 95, 0); */
    border-radius: 15px;
    display: flex;
}

.left-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    border-radius: 15px;
}

.right-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    border-radius: 15px;
    border: 1px solid black;
}

.middle {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 15px;
}

.logo {
    height: 10%;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.menu,
.collection,
.discover,
.settings {
    flex: 1;
    text-align: center;
}

.logo img {
    height: 100%;
    width: auto;
}

.main-top ul li {
    list-style-type: none;
    padding: 4px;
}

#heading {
    font-size: small;
    font-weight: bold;
    color: rgb(41, 33, 40);
}