* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(310deg, #E2C2C6,#B9929F,#9C528B,#610F7F,#2F0147);
}
.main-section{
    height: 93vh;
    width: 96vw;
    margin: 20px auto;
    background-color: rgba(95, 95, 95, 0.4);
    border-radius:15px;
    display: flex;
}